<p>table.n works!</p>
<div class="container mt-3">
  <h2 class="text-center">Product List</h2>

<form (ngSubmit)="addData()" #f="ngForm">
  <div class="form-group">
    <label for="newName" class="my-2">Full Name:</label>
    <input type="text" id="newName" [(ngModel)]="newItem.name" name="newName" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="newDescription" class="my-2">information:</label>
    <input type="text" id="newDescription" [(ngModel)]="newItem.description" name="newDescription" class="form-control"
      required>
  </div>
  <button type="submit" class="btn btn-success mt-3 float-end">Add Data</button>
</form>

  <table class="table mt-3 bg-light">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>
          <span *ngIf="!isEditing || item.id !== selectedItem.id">{{ item.name }}</span>
          <input *ngIf="isEditing && item.id === selectedItem.id" [(ngModel)]="selectedItem.name" class="form-control">
        </td>
        <td>
          <span *ngIf="!isEditing || item.id !== selectedItem.id">{{ item.description }}</span>
          <input *ngIf="isEditing && item.id === selectedItem.id" [(ngModel)]="selectedItem.description"
            class="form-control">
        </td>
        <td>
          <button *ngIf="!isEditing" (click)="editData(item)" class="btn btn-secondary mr-2">Edit</button>
          <button *ngIf="isEditing && item.id === selectedItem.id" (click)="saveData()"
            class="btn btn-success mr-2">Save</button>
          <button (click)="deleteData(item)" class="btn btn-danger mx-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>